---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!--meta name=viewport content="width=device-width, initial-scale=1" /-->
        
        <!-- CSS -->
        <link rel="stylesheet" href="/css/minimal.css" />
        
        <!-- Device Mockups -->
        <link rel="stylesheet" type="text/css" href="css/facade.css" />
        
        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/jcu7slg.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/assets/logo_cut.png" />
        
        <title>Classmind - Informationsmangement für Ihre Schule</title>
    </head>
    
    <body>
        <div class="web-doc">
            
            {% include header.html %}
            
            <div id="deck" class="doc-line">
                <h1 class="tk-ff-enzo-web">Unterrichten Ihre Lehrer lieber, anstatt vor einer unvorbereiteten Klasse zu sitzen?</h1>
                <h2>
                    Das dachten wir uns auch.<br />
                    Deswegen haben wir die Classmind Plattform entwickelt, um Schulen, Lehrer und Schüler
                    zusammen zu bringen, zu entlasten und den Lehrbetrieb stetig zu verbessern.
                </h2>
            </div>
            
            <div class="doc-line copy">
                <center>
                    <div class="facade-minimal" data-url="starfleet-academy.classmind.de" style="padding: 56px 0 0 0;">
                        <img src="assets/showcase/dashboard-teacher.png" width="100%" />
                    </div>
                </center>
            </div>
            
            <div class="doc-line section">
                <h2 class="tk-ff-enzo-web em">Was ermöglicht Classmind?</h2>
                
                <div class="doc-line mt5 mb5">
                    <div class="unit s3o4">
                        <h3 class="em pb1">Kommunikation</h3>
                        
                        <p>
                            Mit Classmind erhalten Sie einen einheitlichen Ort zum Austauschen und Zusammenarbeiten.
                            Alle Beteiligten, so z.B. auch Eltern, haben ständigen Zugang zu relevanten Informationen
                            - und können die vollständige Historie der gemeinsamen Arbeit einsehen oder durchsuchen.
                        </p>
                        <p>
                            Einfache Feedback-Mechanismen beseitigen die Ungewissheit, ob wichtige Neuigkeiten wirklich angekommen sind. 
                            <!--a href="/features/communication">Mehr erfahren</a-->
                        </p>
                    </div>
                </div>
                
                <!--div class="doc-line mb5">
                    <div class="unit-l s3o4 pl4">
                        <h3 class="em pb1">Leistungserfassung</h3>

                        <p>
                            
                        </p>
                    </div>
                </div-->
                
                <div class="doc-line mb5">
                    <div class="unit s3o4">
                        <h3 class="em pb1">Feedback und Kollaboration</h3>

                        <p>
                            Im heutigen Lehrbetrieb gehen leicht wertvolle Informationen
                            verloren oder werden gar nicht erst erfasst. Lernfortschritte
                            und pädagogische Erfahrungen werden von jedem Lehrer in Isolation erhoben,
                            oder versinken in Akten und Klassenbüchern.
                        </p>
                        <p>
                            Mit Classmind können alle Lehrer über Jahre Hinweg den Lernprozess ganzer
                            Klassen oder sogar einzelner Schüler dokumentieren und so wichtige Erkenntnisse
                            für Kollegen und Nachfolger bewahren. 
                            <!--a href="/features/collaboration">Mehr über Kollaboration</a-->
                        </p>
                    </div>
                </div>
                
                <div class="doc-line mb5">
                    <div class="unit s3o4">
                        <h3 class="em pb1">Flexibilität und Sicherheit</h3>
                        
                        <p>
                            Durch den Einsatz von zusätzlichen Modulen können Sie auf einfache Weise
                            zusätzliche Software-Lösungen in den Schullalltag integrieren.
                            Dabei werden jedoch alle Stammdaten an einem zentralen, sicheren Ort verwaltet.
                            So können wir eine einheitliche Authentifizierung und umfassendes Rechtemanagement
                            für alle verwendeten Module garantieren.
                        </p>
                        <p>
                            Darüber hinaus können Module sich aber auch austauschen. Der Vertretungsplan könnte Schüler
                            in betroffenen Kursen benachrichtigen, Planungssoftware die nächsten Termine
                            einer Klasse berücksichtigen und die Kurswahl könnte personalisierte Vorschläge geben.
                            <!--a href="/features/modules">Mehr zu Modulen</a-->
                        </p>
                    </div>
                </div>
            </div>
            
            <div id="summary" class="doc-line">
                <h2 class="tk-ff-enzo-web em">Zehn Wege wie Classmind alle entlastet:</h2>

                <div class="unit-l s1o2 space-r">
                    <h4 class="em">Lehrer</h4>
                    
                    <ul class="plain bullets">
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Nie wieder chronisch unvollständige E-Mail-Listen anlegen.</div>
                        </li>
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Unkompliziert Nachrichten versenden, Dateien bereitstellen oder Termine eintragen.</div>
                        </li>
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Am Abend an benötigtes Material erinnern oder einen Raumtausch ankündigen.</div>
                        </li>
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Kein Rätseln mehr, ob alle im Kurs wichtige Mitteilungen gelesen haben.</div>
                        </li>
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Unterrichtsmaterialien an einem Ort sammeln und so die ganze Klasse up-to-date halten.</div>
                        </li>
                    </ul>
                </div>
                
                <div class="unit-l s1o2 space-l">
                    <h4 class="em">Schüler</h4>

                    <ul class="plain bullets">
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Auf einen Blick informiert: "Was muss ich wann erledigen?".</div>
                        </li>
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Alle Informationen, Formulare und Kursmaterialien sind jederzeit und sofort verfügbar.</div>
                        </li>
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Bei einem kurzfristigen Raumtausch nie wieder vor dem Klassenraum herumstehen.</div>
                        </li>
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Aufgaben und Termine immer im Blick.</div>
                        </li>
                        <li>
                            <div class="unit-l fit-l bullet" data-icon="3"></div>
                            <div class="unit-l unit-last">Nie wieder morgens feststellen, dass man doch länger schlafen können hätte.</div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div id="close" class="doc-line">
                <h2 class="tk-ff-enzo-web">Überzeugen Sie sich selbst</h2>
                
                <div class="doc-line">
                    <div class="unit-l s1o2" style="padding-left: 250px;">
                        <ul class="plain bullets">
                            <li>
                                <div class="unit-l fit-l" data-icon="C"></div>
                                <div class="unit-l unit-last">
                                    Keinerlei IT-Aufwand, Classmind
                                    läuft auf unseren <a href="/privacy">sicheren Servern</a>
                                </div>
                            </li>
                            <li>
                                <div class="unit-l fit-l" data-icon="G"></div>
                                <div class="unit-l unit-last">Verfügbar auch auf älteren Browsern, sowie auf Android und iOS</div>
                            </li>
                            <li>
                                <div class="unit-l fit-l" data-icon="g"></div>
                                <div class="unit-l unit-last">Unbegrenzte Nutzer, unbegrenzter Speicher</div>
                            </li>
                            <li>
                                <div class="unit-l fit-l" data-icon="h"></div>
                                <div class="unit-l unit-last">Supportgarantie: Hilfe jederzeit und so schnell wie möglich</div>
                            </li>
                            <li>
                                <div class="unit-l fit-l" data-icon="w"></div>
                                <div class="unit-l unit-last">Auf Wunsch übernehmen wir Einrichtung und Training.</div>
                            </li>
                            <li style="padding-top: 24px;padding-left: 20px;">
                                <div class="unit-l unit-last">
                                    Haben wir Ihr Interesse geweckt?<br />
                                    <span style="font-size: 18px; line-height: 1.25em;font-weight: 400;">
                                        Kontaktieren Sie uns für ein individuelles Angebot,
                                        oder um genauer herauszufinden, ob und wie wir Ihnen helfen können.
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="doc-line">
                    <center style="margin-top: 42px;"><a href="mailto:contact@classmind.de" class="big-button">Kontaktieren Sie uns</a></center>
                </div>
            </div>
            
            {% include footer.html %}
            
        </div>
    </body>
</html>