<div id="header" class="doc-line">
    <div class="unit-l fit-l">
        <img src="/assets/logo_cut.png" width="128px" height="auto" style="margin-left: -6px;" />
    </div>
    <div class="unit-l fit-l" style="padding-top: 12px;">
        <a href="/">
            <h1 class="tk-ff-enzo-web" style="margin-left: -2px; line-height: 1.15em; font-weight: 600;">Classmind</h1>
        </a>
        <h4>Wir nehmen Stress aus dem Schullaltag.</h4>
    </div>
    <div class="unit-r" style="padding-top: 12px;">
        <a href="mailto:contact@classmind.de" class="big-button">Kontakt</a>
    </div>
</div>