---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name=viewport content="width=device-width, initial-scale=1" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/minimal.css" />
        
        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/jcu7slg.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/assets/logo_cut.png" />
        
        <title>Datenschutz und Sicherheit - Classmind</title>
    </head>
    
    <body>
        <div class="web-doc">
           
            {% include header.html %}
            
            <div id="deck" class="doc-line">
                <h1 class="tk-ff-enzo-web">Datenschutz und Sicherheit</h1>
                
                <h2 style="margin-bottom: 36px;">
                    Nichts ist uns wichtiger, 
                    als die Sicherheit und vertrauliche Handhabung ihrer Daten. <br />
                    Gerne nehmen wir den Mehraufwand in Kauf, um diese gewährleisten zu können.
                </h2>
                
                <div class="doc-line">
                    <div class="unit-l s1o3">
                        
                        <div class="doc-line">
                            <div class="unit-l fit-l separated">
                                <h3 data-icon="K"></h3>
                            </div>
                            
                            <div class="unit-l unit-last">
                                <h3><em>Verschlüsselung</em></h3>
                                
                                <p>
                                    Die Übertragung von Daten zwischen Ihnen und unseren Servern erfolgt
                                    ausschließlich verschlüsselt. Dabei halten wir uns an aktuelle 
                                    Sicherheitsstandards, die zum Beispiel auch von Banken genutzt werden.
                                    Hierdurch können Angreifer die übertragenen Daten weder lesen noch 
                                    manipulieren.
                                </p>
                            </div>    
                        </div>
                        
                    </div>
                    
                    <div class="unit-l s1o3">
                        
                        <div class="doc-line">
                            <div class="unit-l fit-l separated">
                                <h3 data-icon="b"></h3>
                            </div>
                            
                            <div class="unit-l unit-last">
                                <h3><em>Isolation</em></h3>
                                
                                <p>
                                	Alle Daten, die Sie auf unseren Servern speichern, werden in isolierten Containern
                                	gesichert. Hierdurch ist ein unbefugter Zugriff auf Daten von anderen Schulen 
                                	nicht möglich. In dem unwahrscheinlichen Fall, in dem es einem Angreifer zum Beispiel
                                	durch gestohlene Passwörter gelingt in den Account einer Schule einzudringen, 
                                	bleiben die Daten von allen anderen vollkommen unberührt.<br />
                                	Besonders sensible Informationen werden zusätzlich verschlüsselt gespeichert.
                                </p>
                            </div>   
                        </div>
                        
                    </div>
                    
                    <div class="unit-l s1o3 unit-last">
                        
                        <div class="doc-line">
                            <div class="unit-l fit-l separated">
                                <h3 data-icon="U"></h3>
                            </div>
                            
                            <div class="unit-l unit-last">
                                <h3><em>Rechtemanagement</em></h3>
                                
                                <p>
                                	Über ein umfangreiches Rechte Management System können Sie genau festlegen, welche Nutzer
                                	Zugriff auf bestimmte Daten haben. Ein Mitglied der Schulleitung hat zum Beispiel andere
                                	Zugriffs Rechte als ein Schüler.<br />
                                    Wird ein einzelner Nutzerzugang kompromitiert, dann kann ein Angreifer nur auf Daten zugreifen,
                                    für die der Nutzerzugang zuvor authorisiert wurde.
                                </p>
                            </div>   
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="doc-line section">
                <h2 class="tk-ff-enzo-web">Unser Datenschutz im Überblick</h2>

                <div class="doc-line">
                    <div class="unit-l" style="width: 85%; font-size: 20px !important;">
                        <p>
                        	Beim Betrieb von Classmind fallen unweigerlich sensible und personenbezogene Daten an.
                        	Wir sind uns der hohen Verantwortung bewusst, die das Speichern und Sichern dieser Daten
                        	mit sich bringt.<br />
                        	Alle Daten, die im Betrieb von Classmind anfallen, werden von uns in keinem Fall an Dritte
                        	weiter gegeben. <br />
                        	Durch die kostenpflichtige Nutzung von Classmind sind wir nicht auf Einnahmen durch den
                        	Verkauf von Daten oder das Schalten von Werbung angewiesen. Als Kunde profitieren Sie durch
                        	eine werbefreie Plattform und die Gewissheit, dass nicht Ihre Daten unser Produkt sind.
                        </p>
                        
                        <p>
                        	Zusätzlich zu unseren allgemeinen Geschäftsbedigungen und unseren Datenschutz Richtlinien
                        	schließen wir mit Ihnen einen gesonderten Datenschutz Vertrag ab. In diesem werden weitere
                        	Einzelheiten und individuelle Vereinbarungen geregelt. Der Vertrag basiert auf einer Empfehlung
                        	des Hessischen Datenschutzbeauftragten.
                        </p>

                        <p>
                            Eine detaillierte Auflistung aller gespeicherten Daten und deren konkrete Verwendung, sowie
                            unsere ausführlichen Datenschutzrichtlienen finden sie im nächsten Abschnitt.
                        </p>
                        
                        <p>
                            <em>Haben sie weitere Fragen?</em> Wir erläutern Ihne gerne jeden Aspekt unserer Daten-Handhabung.
                            Bitte kontaktieren Sie uns per E-Mail über <a href="mailto:datenschutz@classmind.de" style="display: inline-block; border-bottom: 1px solid #3C60A4;">datenschutz@classmind.de</a>.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="doc-line section">
                <h2 class="tk-ff-enzo-web">Classmind Datenschutzrichtlinien</h2>

                <div class="doc-line">
                    <div class="unit-l" style="width: 85%">
                        <p>
                            Diese Datenschutzrichtlinien enthalten unsere Richtlinien und Verfahren zur Erfassung,
                            Verwendung und Weitergabe Ihrer Daten. Als Kunde erhalten Sie von uns eine eigene Classmind Instanz für Ihre Schule. Ihre Nutzer können über die schul-spezifische Website &lt;schulname&gt;.classmind.de auf die Classmind-Instanz zugreifen, nachfolgend der Dienst genannt. Durch die Nutzung unseres Dienstes erklären Sie sich mit der
                            Erfassung, Übermittlung, Verarbeitung, Speicherung, Weitergabe und den anderen in diesen Datenschutzrichtlinien beschriebenen Nutzungsarten einverstanden. <br />
                            Alle unten beschriebenen Arten von Daten, Inhalten und Informationen werden zusammen als „Daten“ bezeichnet.
                        </p>
                        
                        <!-- 1. Von uns erfasste und gespeicherte Informationen -->
                        <h4 style="margin: 30px 0 12px 0;">1. Von uns erfasste und gespeicherte Informationen</h4>
                        
                        <p>
                            Vom Classmind-Dienst werden möglicherweise die folgenden Informationen erfasst und gespeichert:
                        </p>

                        <p>
                            <em><u>Personenbezogene Daten der Nutzer</u></em><br />
                            Beim Anlegen von Nutzer Konten für Schüler, Lehrer und andere Benutzer werden personenbezogene Daten
                            erfasst. Unbedingt nötig für den Betrieb von Classmind sind der vollständige Name des Nutzers (Vorname, Nachname)
                            und eine gültige E-Mail Adresse. Aus dem Namen des Nutzers wird automatisch ein Benutzername generiert. Zu 
                            jedem Benutzer kann optional ein individuelles Profilbild erfasst werden.<br />
                            Weitere Daten wie zusätzliche Kontakinformationen (Telefon Nummer, Mobilfunk Nummer) oder Adressdaten (Anschrift)
                            können erfasst werden. Diese sind für den Grundbetrieb nicht erforderlich. Für die Nutzung von bestimmten
                            Zusatzmodulen können diese jedoch notwendig werden.
                        </p>

                        <p>
                            <em><u>Von Nutzern erstellte Inhalte</u></em><br />
                            Die Nutzer von Classmind stellen im Betrieb eigenständig verschiedene Daten bereit. Hierzu gehören u.a. selbst 
                            erstellte Nachrichten und Mitteilungen, eingereichte Abgaben zu Aufgaben sowie Dateien. Diese werden in Classmind
                            erfasst und gespeichert. Von Nutzern erstellte Inhalte bleiben in Classmind bestehen, bis diese vom Ersteller
                            gelöscht werden oder das Nutzer Konto aus der Classmind Instanz entfernt wird. Bei der Löschung des Nutzer Kontos
                            kann man auswählen, ob Inhalte wie Kommentare und Nachrichten ebenfalls gelöscht werden sollen, oder ob diese
                            weiterhin anderen Nutzern in anonymisierter Form zur Verfügung stehen sollen.<br />
                            In jedem Fall obliegt es der <em>Verantwortung des Nutzers</em>, welche Daten er in Classmind einstellt.
                        </p>
                        
                        <p>
                            <em><u>Dateien</u></em><br />
                            Wir erfassen und speichern Dateien, die von Classmind Nutzern innerhalb von Classmind gespeichert werden können.
                            Dabei wird erfasst, von welchem Nutzer die Datei in Classmind eingestellt wurde. Dieser wird als Besitzer der 
                            Datei gespeichert. <br />
                            Abhängig vom Kontext, in dem die Datei bereitgestellt wird, steht diese auch anderen Nutzern zur Verfügung. Dies ist zum Beispiel dann der Fall, wenn eine Datei als Unterrichtsmaterial (etwa ein Arbeitsblatt) in einen Kurs eingestellt wird. Üblicherweise kann auf eine Datei von anderen Nutzen nur lesen zugegriffen werden.<br />
                            Dateien bleiben stets im Besitz des Nutzers, von dem diese eingestellt werden. Anders als andere Plattformen beanspruchen wir <em>nicht</em> das uneingeschränkte Nutzungsrecht für diese Dateien.<br />
                            Bitte beachten Sie, dass wir als Betreiber von Classmind nicht überprüfen können, ob Nutzer über das nötige Verwendungsrecht für von ihnen bereitgestellte Dateien verfügen. Eine solche Überprüfung ist technisch nur sehr eingeschränkt möglich und würde die Privatsphäre unserer Nutzer verletzen. Wir führen keine solche Überprüfung durch!<br />
                            Wenn wir als Betreiber vom Rechteinhaber oder seinem Vertreter auf eine Urheberrechts Verletzung hingewiesen werden, dann müssen wir die entsprechenden Dateien von unseren Servern entfernen. Der Nutzer der die Dateien bereitgestellt hat wird in diesem Fall von uns informiert.
                        </p>

                        <p>
                            <em><u>Verwaltungsdaten</u></em><br />
                            Neben den rein Personenbezogenen Daten fallen weitere Daten zu Verwaltungszwecken an. Dazu gehören beispielsweise eine Übersicht der Räume Ihrer Schule, über Classmind verwaltete Inventar Gegenstände und Stundenpläne.
                            In einigen Fällen kann es vorkommen, dass Verwaltungsdaten mit Personen bzw. Nutzern verknüpft werden. Beispielsweise kann jedem Nutzer ein individueller Stundenplan zugeordnet werden.<br />
                            Einen Spezialfall der Verwaltungsdaten stellen die <em>Leistungsdaten der Nutzer</em> dar.
                        </p>

                        <p>
                            <em><u>Leistungsdaten der Nutzer</u></em><br />
                            In Classmind können nutzerbezogene Leistungsdaten erfasst werden. Hierzu zählen insbesondere Leistungsbewertungen für Abgaben des Nutzers auf Aufgaben, Noten für mündliche und schriftliche Leistungen, sowie Verspätungen und Fehlstunden.<br />
                            Leistundsdaten eines Nutzers werden nach Ablauf einer Frist von 30 Tagen automatisch aus dem System entfernt, wenn der Zugang des Nutzers gelöscht wird.
                        </p>
                        
                        <p>
                            <em><u>Protokoll Daten</u></em><br />
                            Aus Sicherheitsgründen werden im Hintergrund Protokolle zur Sicherung und Kosistenzprüfung angelegt. Diese erfassen besonders kritische Vorgänge wie beispielsweise das Eintragen von Noten.<br />
                            Die Nutzer von Classmind können nicht auf diese zugreifen.<br />
                            Alle Protokoll Daten werden nach dem Ablauf einer Frist gelöscht. Diese beträgt in der Regel 30 Tage.
                        </p>


                        
                        <!-- 2. Datensicherheit -->
                        <h4 style="margin: 30px 0 12px 0;">2. Datensicherheit und Zugangskontrolle</h4>

                        <p>
                            <em><u>Zutritts Kontrolle</u></em><br />
                            Neben einer mechanischen Zutrittskontrolle wird das Rechenzentrum rund um die Uhr per Video überwacht. Jede Bewegung im Rechenzentrum löst eine Meldung bei einem Sicherheitsunternehmen aus. Sollte sich jemand unbefugt Zutritt zum Rechenzentrum verschaffen können, ist Sicherheitspersonal in wenigen Minuten vor Ort.
                        </p>

                        <p>
                            <em><u>Benutzer Kontrolle</u></em><br />
                            Sämtliche Inhalte von Classmind sind nur nach gültiger Authentifizierung zugänglich. Hierfür ist ein gültiger und nicht gesperrter Nutzerzugang nötig.<br /> 
                            Für die Zukunft behalten wir uns eine Ergänzung um eine Zweifaktor Authentifizierung für besonders sensible Bereiche vor.
                        </p>

                        <p>
                            <em><u>Zugriffs Kontrolle</u></em><br />
                            Classmind implementiert eine Rollenbasierte Zugriffskontrolle.
                            Dadurch lassen sich schulinterne Strukturen und Rollen (z.B. Lehrer, Schüler, Administrator)
                            eins zu eins abbilden. Bei jedem Zugriff auf eine Ressource in Classmind wird
                            geprüft ob der Nutzer die erforderlichen Rechte besitzt. Eine solche Überprüfung
                            erfolgt explizit, das heißt, sollte Unklarheit bestehen, so wird der Zugriff stets verweigert.
                        </p>

                        <p>
                            <em><u>Datenverarbeitungs Kontrolle</u></em><br />
                            Alle Daten befinden sich in isolierten Containern. Ein Zugriff auf die
                            Daten erfolgt ausschließlich über die Classmind Plattform, die eine entsprechende Zugangskontrolle durchführt. Ein direkter Zugriff auf Betriebssystemebene durch den Nutzer ist ausgeschlossen. Zusätzlich halten wir stets aktuelle Backups bereit.<br /> 
                            Durch unsere Rollenbasierte Zugriffskontrolle wird sichergestellt, dass ein Nutzer stets nur auf Daten
                            zugreifen kann, für die er eine entsprechende Berechtigung hat. 
                            Zum Beispiel darf ein Lehrer nur dann auf die Leistungsdaten eines Schülers zugreifen,
                            wenn er diesen im entsprechenden Fach unterrichtet.
                        </p>

                        <p>
                            <em><u>Verantwortlichkeits Kontrolle</u></em><br />
                            Beim Zugriff auf Daten, insbesondere beim schreibenden Zugriff auf Daten, wird dieser von Classmind protokolliert. Insbesondere sensible Daten wie Noten werden zusätzlich zur Speicherung in der Datenbank stets in einem redundanten Protokoll erfasst. Über das Protokoll können auch unbefungte Zugriffe gefunden und rückgängig gemacht werden, zum Beispiel dann, wenn ein Angreifer mit gestohlenen Zugangsdaten den Zugang eines Nutzers missbraucht. 
                        </p>

                        <p>
                            <em><u>Organisations Kontrolle</u></em><br />
                            Unsere Mitarbeiter erhalten nur nach entsprechender Datenschutzbelehrung Zugang zu Daten,
                            die in Classmind gespeichert sind. Jeder Mitarbeiter hat nur Zugang zu Daten,
                            für die dieser vorher autorisiert wurde. Dies wird über entsprechende Zugangsbeschränkungen
                            (VPN, Benutzerkontrolle) und Passwörter sichergestellt. <br />
                            Wenn ein manueller Zugriff auf Daten durch einen Mitarbeiter stattfindet,
                            dann wird dieser protokolliert. Ein manueller Zugriff kann beispielsweise beim Einspielen 
                            von Datensicherungen oder technischen Fehlern nötig sein.
                        </p>

                        
                        <!-- 3. Freigabe und Offenlegung von Informationen -->
                        <h4 style="margin: 30px 0 12px 0;">3. Freigabe und Offenlegung von Informationen</h4>

                        <p>
                            <em><u>Auskunftsrecht</u></em><br />
                            Gemäß § 26 Datenschutzgesetz (DSG) 2000 haben unsere Nutzer die Möglichkeit, nach einer entsprechenden Identitäts Prüfung zu erfahren, welche Daten wir über diese gespeichert haben und zu welchem Zweck diese verarbeitet werden. Hierzu ist ein entsprechender Antrag in schriftlicher Form mit anschließender Identitäts Prüfung notwendig.
                        </p>

                        <p>
                            <em><u>Ihre Nutzung</u></em><br />
                            Ihre personenbezogenen Daten werden auf Ihrer Profilseite und an anderen Stellen
                            des Dienstes angezeigt. Nicht authentifizierte Nutzer können diese nicht einsehen.<br />
                            Vor der Angabe von Informationen sollten Sie darüber nachdenken, wie viel andere über Sie erfahren sollen.
                            Wir empfehlen Ihnen, wenn möglich, das Minimum an benötigten Informationen anzugeben.
                            Bitte überlegen Sie genau, welche Informationen Sie über sich selbst freigeben möchten.<br />
                            Durch entsprechende Erweiterungen des Basis Dienstes kann eine Veröffentlichung von bestimmten
                            Daten im Internet ermöglicht werden (z.B. ein öffentlicher Schulblog). In diesen Fällen wird
                            der Nutzer gesondert darauf hingewiesen. Bitte achten Sie in diesen Fällen ganz besonders darauf,
                            welche Informationen Sie veröffentlichen! Öffentliche Informationen können weit und schnell verbreitet werden.
                        </p>
                        

                        <!-- 4. Verschiedenes -->
                        <h4 style="margin: 30px 0 12px 0;">4. Verschiedenes</h4>
                        
                        <p>
                            <em><u>Verbindungs Daten</u></em><br />
                            Wenn Sie Classmind nutzen, werden automatisch verschiedene Informationen über die Verbindung zwischen Ihnen und unseren Servern erfasst. Dazu gehören der Web Browser den Sie verwenden, das Betriebssystem das Sie nutzen, ggf. der Geräte Typ (Smartphone, Tablet, PC), Ihre IP Adresse und ein Zeitstempel.<br />
                            Verbindungsdaten werden von uns nach einer Frist von 30 Tagen gelöscht. <br />
                            Die erfassten Verbindungsdaten werden von uns für statistische Zwecke genutzt, um unser Dienste zu verbessern. Eine Zusammenführung der Verbindungsdaten mit einzelnen Nutzern findet nicht statt.
                        </p>

                        <p>
                            <em><u>Cookies</u></em><br />
                            Wir verwenden Cookies, um Informationen zu erfassen. <br />
							Ein Cookie ist eine kleine Datei, die wir an Ihr Gerät senden. In diesem werden ein eindeutiger,
                            zufällig erzeugter Sitzungs-Schlüssel und ein Sicherheits-Schlüssel gespeichert.
                            Diese werden genutzt, um Nutzer-Sitzungen zu verwalten.
                            Auf diese Weise ist es möglich, dass Sie sich als Nutzer nicht bei jeder Anfrage 
                            erneut anmelden müssen. Eine Authentifizierung Ihrer Anfrage findet so im Hintergrund statt.
                            Gleichzeitig hilft uns der Sicherheits-Schlüssel dabei potentielle Angreifer abzuwehren,
                            die versuchen Ihre Identität zu übernehmen. <br />
                            Wenn Sie keine Cookies erhalten wollen, dann können Sie das Ihren Web Browser 
                            entsprechend verbieten. Wenn Sie Cookies für Ihre Classmind Instanz verbieten,
                            kann es zu Einschränkungen in der Benutzung kommen.   
                        </p>

                        <p>
                            <em><u>Daten Sicherungen und Backups</u></em><br />
                            Um gegen eventuelle Server Ausfälle abgesichert zu sein, erzeugen wir regelmäßige Datensicherungen. Diese enthalten Kopien aller Daten, die im Betrieb von Classmind anfallen (siehe <i>Von uns erfasste und gespeicherte Informationen</i>). Datensicherungen werden bis zu einem Jahr in verschlüsselter Form auf unseren Servern gespeichert.
                        </p>

                        <p>
                            <em><u>Cloud Dienste und Datenverarbeitung durch Dritte</u></em><br />
                            Wir nutzen für den Betrieb von Classmind keine Cloud basierten Services.
                            Die Datenverarbeitung -und Speicherung findet ausschließlich auf von uns betriebenen
                            Servern statt. Diese befinden sich in einem gesicherten Rechenzentrum in Deutschland.
                            Alle Daten unterliegen damit den Bundesdatenschutzgesetzen.<br />
                            Eine Datenverarbeitung durch Dritte findet nicht statt.
                        </p>


                        <div class="doc-line" style="margin-top: 36px;">
                            <h3 style="padding-top: 6px; padding-left: 68px;">
                                Bitte wenden sie sich jederzeit mit Fragen und Anmerkungen an <a style="display: inline-block; border-bottom: 1px solid #3C60A4;" href="mailto:datenschutz@classmind.de">datenschutz@classmind.de</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            
            {% include footer.html %}
            
        </div>
    </body>
</html>