---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name=viewport content="width=device-width, initial-scale=1" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/minimal.css" />
        
        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/jcu7slg.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <title>Über uns - Classmind</title>
    </head>
    
    <body>
        <div class="web-doc">
            
            {% include header.html %}
            
            <div id="deck" class="doc-line">
                <h1 class="tk-ff-enzo-web">Unser Team</h1>
                
                <h2>
                </h2>
                
                <div class="doc-line" style="margin-top: 42px;">
                    <div class="unit-l s1o3">
                        <div style="width: 256px;">
                            <img class="panel rounded" src="../assets/team/mo.png" alt="Moritz Moxter" width="256px" height="auto" style="margin-bottom: 12px;" />
                            <span class="h4" style="font-size: 22px; text-align: center;"><em>Moritz Moxter</em></span>
                        </div>
                    </div>
                    <div class="unit-l s1o3">
                        <div style="width: 256px;">
                            <img class="panel rounded" src="../assets/team/niko.jpg" alt="Nikolas Göbel" width="256px" height="auto" style="margin-bottom: 12px;" />
                            <span class="h4" style="font-size: 22px; text-align: center;"><em>Nikolas Göbel</em></span>
                        </div>
                    </div>
                    <div class="unit-l s1o3">
                        <div style="width: 256px;">
                            <img class="panel rounded" src="../assets/team/marcel.png" alt="Marcel Gazsi" width="256px" height="auto" style="margin-bottom: 12px;" />
                            <span class="h4" style="font-size: 22px; text-align: center;"><em>Marcel Gazsi</em></span>
                        </div>
                    </div>
                </div>
                <div class="doc-line" style="margin-top: 36px;">
                    <div class="unit s3o4">
                        <div class="doc-line">
                            <div class="unit-l s1o2">
                                <div style="width: 256px;">
                                    <img class="panel rounded" src="../assets/team/mark.png" alt="Mark Schneemann" width="256px" height="auto" style="margin-bottom: 12px;" />
                                    <span class="h4" style="font-size: 22px; text-align: center;"><em>Mark Schneemann</em></span>
                                </div>
                            </div>
                            <div class="unit-l s1o2">
                                <div style="width: 256px;">
                                    <img class="panel rounded" src="../assets/team/malte.jpg" alt="Malte Sandstede" width="256px" height="auto" style="margin-bottom: 12px;" />
                                    <span class="h4" style="font-size: 22px; text-align: center;"><em>Malte Sandstede</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% include footer.html %}
            
        </div>
    </body>
</html>
