---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <!-- CSS -->
        <link rel="stylesheet" href="/css/minimal.css" />
        
        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/jcu7slg.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <title>Über uns - Classmind</title>
    </head>
    
    <body>
        <div class="web-doc">
            
            {% include header.html %}
            
            <div id="deck" class="doc-line">
                <h1 class="tk-ff-enzo-web">Das Team</h1>
                
                <h2>
                    Drei junge Entwickler mit langjähriger Erfahrung arbeiten hart daran, ihnen und ihren
                    Lehrern und Schülern das Leben einfacher zu machen.
                </h2>
                
                <div class="doc-line" style="margin-top: 42px;">
                    <div class="unit-l s1o3">
                        <div style="width: 256px;">
                            <img class="rounded" src="../assets/team/mo.jpg" alt="Moritz Moxter" width="256px" height="auto" style="margin-bottom: 12px;" />
                            <span class="h4" style="font-size: 22px; text-align: center;"><em>Moritz Moxter</em></span>
                        </div>
                    </div>
                    <div class="unit-l s1o3">
                        <div style="width: 256px;">
                            <img class="rounded" src="../assets/team/niko.jpg" alt="Nikolas Göbel" width="256px" height="auto" style="margin-bottom: 12px;" />
                            <span class="h4" style="font-size: 22px; text-align: center;"><em>Nikolas Göbel</em></span>
                        </div>
                    </div>
                    <div class="unit-l s1o3">
                        <div style="width: 256px;">
                            <img class="rounded" src="../assets/team/marcel.jpg" alt="Marcel Gazsi" width="256px" height="auto" style="margin-bottom: 12px;" />
                            <span class="h4" style="font-size: 22px; text-align: center;"><em>Marcel Gazsi</em></span>
                        </div>
                    </div>
                </div>
            </div>
            
            {% include footer.html %}
            
        </div>
    </body>
</html>